body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control label,
.form-control input,
.form-control textarea {
    width: 100%;
    display: block;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-actions button,
.btn {
    background: rgb(156, 253, 0);
    font: inherit;
    border: 1px solid rgb(133, 41, 41);
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgb(133, 41, 41);
    color:  rgb(77, 0, 47);
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
    background: rgb(133, 41, 41);
    color: rgb(156, 253, 0);
    box-shadow: 1px 1px 5px rgb(156, 253, 0);
}